/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Ebrima', sans-serif;
	background: #FFFFFF;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
.header {
    position: relative;
    background: url(../images/header.jpg) no-repeat 0px 0;
    padding: 1em 0 5em;
    min-height: 800px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
	position: absolute;
	top: 15%;
	right: 0;
	left: 0;
	width: 60%;
    margin: 0 auto;
    padding: 50px 0;
	font-size: 75px;
	letter-spacing: 3px;
	font-weight: 700;
    color: #FFF;
    border: 5px solid #FFF;
}

.header h2 {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	width: 35%;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 700;
    color: #000;
    background-color: #FFF;
}

.btn-rounded-white{

    color: #FFF;
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 25px;
    background-color: transparent;
    padding:10px 15px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: initial;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-rounded-white:hover{
    background: #FFF;
    color:rgb(0, 0, 0);
}
.btn-rounded-white:focus{
    background: rgb(0, 0, 0);
    color:#fff;
}


#id{
    
    font-size: 3.0em;
}

#mainbox{

    box-sizing: border-box;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#title-name{
    align-content: flex-end;
    margin-top: 4.0em;
}

#caption-main{
    font-size: 2.0em;
    font-weight: 600;
    line-height: 0.5em;
    font-family: 'Overlock', cursive;
    text-align: justify;  
}

.card{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 2px 3px 3px #888;
    border-top: 10px solid #001a33;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}
.card h1{
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 5px;
    text-align: center;
   }

.card p{
    margin-top: 20px;
    line-height: 1.4em;
    color: #0b0033;
    font-size: 1.0em;
    text-align: justify;
    word-spacing: 0px;
    font-weight: 500;
}
.links {
    text-align: center;
    margin-top: 20px;
}

#about-me{
    font-size: 1.5em;
    color: #001a33;
    font-weight: 400;
    line-height: 1.8em;
     text-align: justify;
}

.social-links {
    list-style-type: none;
    margin: 0 auto;
    display:table;
}
ul#row li  {
    display: inline-block;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Overlock', cursive;
}

h6{
    margin:0;	
    font-family: 'Ebrima', cursive; 
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- Navigation --*/

.navigation {
    position: absolute;
	top: 55%;
	left: 0;
	right: 0;
    padding: 0 350px;
}

.ch-grid {
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.ch-grid:after, .ch-item:before {
	content: '';
	display: table;
}

.ch-grid:after {
	clear: both;
}



.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, .ch-info{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-backface-visibility: hidden;
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

.ch-info-front i.fa,i.far,i.fas,i.fab {
	font-size: 60px;
	padding-top: 20px;
	color: #FFF;
}
.social-links i.fa.fa-phone{
    font-size: 60px;
	padding-top: 20px;
	color: #FFF;
}


.ch-info-back h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-top: 40px;
}

.ch-info-back h3 a {
	color: #FFF;
}

.ch-info-back h3 a:hover {
	color: #5adafa;
}

/*-- //Navigation --*/
/*--top-nav--*/
.top-nav {
    background: #0b0033;
}
.nav > li {
    display: inline-block;
}
ul.nav.navbar {
    margin: 0;
    text-align: center;
}
ul.nav.navbar li a {
    color: #fff;
    padding: 1em 2em;
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
}
ul.nav.navbar li a:hover,ul.nav.navbar li a.active,ul.nav.navbar li a:focus{
    color: #001a33;
    background: #ffffe6;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
    transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
}
/*--//top-nav--*/
/*--about--*/

h3.title {
    margin-top: 1em;
    font-size: 4em;
    text-align: center;
    color: #FFFFFF;
}

.about{
    padding: 1em 0 5em;
}
.agile-logo {
    width: 13%;
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a{
    color: #FFFfff;
    font-size: .4em;
    letter-spacing: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}
.agile-logo h1 a span{
    display: block;
    font-size: 2em !important;
    font-weight: 700;
    letter-spacing: 6px;
}
.w3l-banner-grids {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background: #616161;
}
.w3ls-banner-right {
    float: right;
}
.w3ls-banner-left {
    float: left;
}
.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}
.w3ls-banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}
.w3ls-banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
	text-decoration:none;
}
.w3ls-banner-left-info p a:hover{
	color:#FF9800;
}
.w3ls-banner-left-info:nth-child(5){
	border:none;
}
.banner-right-img{
    float: left;
    width: 30%;
}
.banner-right-img img{
    width: 100%;
    border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 65%;
}
.banner-right-info h2{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
	color:#cecece;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.w3-button {
    margin: 3em 0 0 0;
}
.w3-button-info {
    line-height: inherit !important;
}
.w3-button a{
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #FF9800;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.w3-button a:focus{
	outline:none;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
	color: #2f2f2f !important;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*--//about--*/
/*--skills--*/
.skills{
	background:#FFFFFF;
}
.bar-grids {
    padding: 0 4em;
}
.progress {
    height: 10px;
    margin-bottom: 2.2em;
    background-color: #2F2C06;
}
.progress-bar { 
    background-color: #766E04;
}
.bar-grids h6 {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 0.6em;
}
.bar-grids h6 span {
    float: right;
    font-size: 0.9em;
}
#skills-info{
    text-align: center;
    padding: 25px 5px;

}

#skills-info h2{
    margin-bottom: 25px;
    letter-spacing: 1.4px;
    font-family: 'Oswald', sans-serif;
    
    
    
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1080px;
    text-align: justify;
}

#skills-info li{
    display: inline-block;
    margin: 7px;
    border-radius: 13px;
    transition: all .2s ease-in-out; 
    padding: 5px 10px;
    color:rgb(255, 255, 255);
    background: #494949;
    list-style: none;
    letter-spacing: 0.8px;
    cursor: default;
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
    font-weight: 600;
}

#skills-info li:hover{
    transform: scale(1.2); 
    color: #001a33;
    background: #ffcb0b
}
/*--//skills--*/
/*--work--*/
.work {
    background: url(../images/3.jpg) no-repeat 0px 0;
    padding: 1em 0 5em;
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}
.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}
.work-info h4 {
    font-size: 1.2em;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: .6em 1.2em;
    color: #000000;
	position:relative;
}
.edu-info h4 {
    font-size: 1.2em;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: .6em 1.2em;
    color: #000000;
	position:relative;
}
.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
	/*-- w3layouts --*/
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}
.edu-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
	/*-- w3layouts --*/
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}
.work-info h5 {
    font-size: 1.3em;
    color: #FFFFFF;
    margin-bottom: .5em;
    border: 1px solid #FFFFFF;
    display: inline-block;
    padding: 0 1.2em;
}
.edu-info h5 {
    font-size: 1.3em;
    color: #FFFFFF;
    margin-bottom: .5em;
    border: 1px solid #FFFFFF;
    display: inline-block;
    padding: 0 1.2em;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
    color: #000000 ;
    background: #FFFFFF ;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.edu-info h5 span.glyphicon {
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    background: #ffffff;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.edu-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.edu-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 210px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	/*-- agileits --*/
    transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: #ffffff;
    background: #000000;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
    transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
.edu-info:hover h5 span.glyphicon {
    color: #ffffff;
    background: #000000;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
    transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
/*--//work--*/
/*--education--*/
.education .work-info h5 {
    color: #000;
}
.education {
    background: url(../images/6.jpg) no-repeat 0px 0;
    padding: 1em 0 5em;
    padding: 1em 0 5em;
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--//education--*/
/*-- experience --*/
.portfolio{
	background:#FFFFFF;
}
.experience-heading h3{
	color: #2f2f2f;
}
.w3-agile-experience-grids {
    margin: 4em 0 0 0;
}
.experience-grid{
    text-align: center;
    padding: 2em;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
}
.experience-grid-icon i.fa.fa-car,.experience-grid-icon i.fas.fa-chart-line,.experience-grid-icon i.fas.fa-chart-pie,.experience-grid-icon i.fa.fa-heartbeat{
    color: #2f2f2f;
    background: none;
    border: solid 2px #ff9800;
    width: 100px;
    height: 100px;
    font-size: 2em;
    padding: 1.1em 0 0 0;
}
.experience-grid-info h5{
    color: #2f2f2f;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.experience-grid-info p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.experience-grid1 {
    border-right: none !important;
}
.experience-grid2 {
    border-bottom: none !important;
}
.experience-grid3 {
    border-bottom: none !important;
    border-right: none !important;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9800;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.experience-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.experience-grid:hover div i.fa.fa-folder-open,.experience-grid:hover div i.fa.fa-bell,.experience-grid:hover div i.fa.fa-comments,.experience-grid:hover div i.fa.fa-asterisk{
	color: #FFFFFF;
}
/*-- //experience --*/
/*--portfolio--*/
/*--SAP--*/
ul.resp-tabs-list {  
/*-- w3layouts --*/
background: #F7E612;
}
.sap_tabs{
	clear:both;
	padding: 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    margin: 0 auto 3em;
    text-align: center;
}
.resp-tab-item {
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0.8em 2em;
    font-weight: 400;
	position:relative;
}
.resp-tab-item:hover{
    color: #001a33;
}
.resp-tab-active,.resp-tab-active:hover{
    text-shadow: none;
    color: #fff;
    background: #001a33;
}
.resp-tab-active:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -7px;
    left: 41%;
	/*-- agileits --*/
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: #1D9898 transparent transparent transparent;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
/*--//SAP--*/
/*--img-hover--*/
.portfolio-grids {
    margin-top: 2em;
}
.grid {
	position: relative;
	overflow:hidden;
	background: #000;
}
.grid img {
	opacity: 0.8;
}
.grid .figcaption {
    padding: 2em 2.5em;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid .figcaption::before,
.grid .figcaption::after {
	pointer-events: none;
}

.grid .figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

.grid img {
	max-width: none;
	width: 100%;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	-moz-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-o-transform: translate3d(-10px,0,0);
	-ms-transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid:hover img {
	-moz-opacity: 0.5;
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);	
}
.grid .figcaption {
	text-align: left;
}
.grid h3 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
	-moz-opacity: 0;
    opacity: 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
}
.grid h3 span {
    font-weight: 800;
    margin-left: 5px;
}
.grid h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	-moz-transition: transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-o-transform: translate3d(-100%,0,0);
	-ms-transform: translate3d(-100%,0,0);
}
.grid:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}
.grid:hover h3 {
	-moz-opacity:1;
	opacity:1;
}
.grid p {
    padding: 1em 0 0;
	-moz-opacity:1;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
    color: #fff;
    letter-spacing: 2px;
}
.grid:hover p {
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}
/*--//portfolio--*/
/*-- contact --*/
.contact{
	background:url('../images/contactbg.jpg') no-repeat 0px 0px;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-left iframe {
    width: 100%;
    min-height: 29.5em;
    border: none;
}
.contact-form h5 {
    font-size: 2em;
    color: #333;
}
.address-left {
    float: left;
    width: 41%;
	position: relative;
}
.address-right {
    float: right;
    width: 46%;
}
.contact p {
    color: #fff;
    font-weight: 300;
}
.contact p a {
    color: #fff;
}
.contact p a:hover{
    color: #F7E612;
}
.address-left:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    right: -17px;
}
.contact-form input[type="text"] {
    width: 49%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    border: 1px solid #8C8C8C;
    -webkit-appearance: none;
    display: inline-block;
}
.contact-form input[type="text"].email {
    margin: 3em 0 1em 0.5em;
}
.contact-form input[type="text"].phone {
    width: 100%;
    margin-bottom: 1em;
}
.contact-form textarea {
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .8em 1em;
    border: 1px solid #8C8C8C;
    min-height: 10em;
    -webkit-appearance: none;
}
.contact-form input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 1em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #008B8B;
    border: 2px solid #008B8B;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 100%;
}
.contact-form input[type="submit"]:hover {
    background: none;
    color: #008B8B;
}
::-webkit-input-placeholder {
	color:#fff !important;
}

:-moz-placeholder { /* Firefox 18- */
	color:#fff !important; 
}

::-moz-placeholder {  /* Firefox 19+ */
	color:#fff !important;
}

:-ms-input-placeholder {  
	color:#fff !important;
}
/*--//contact--*/
/*--footer--*/
.footer {
    padding: 2em 0;
    text-align: center;
    background: #001a33;
}
.footer p {
    color: #fff;
	font-size: 0.8em;
}
.footer p a{
    color: #F7E612;
}
.footer p a:hover{
    color: #fff;
}
/*--//footer--*/
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
	z-index:999;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--//slider-up-arrow--*/
/*-- Responsive-Code --*/





@media screen and (max-width: 1920px) {
	.header h1 {
		top: 25%;
	}
	.navigation {
		top: 60%;
	}
	.header h2 {
		top: 45%;
	}

}

@media screen and (max-width: 1680px) {
	.header h1 {
		top: 20%;
	}
	.navigation {
		top: 65%;
	}
}

@media screen and (max-width: 1600px) {
	.header h1 {
		top: 15%;
	}
	.header h2 {
		top: 45%;
	}
	.navigation {
		top: 60%;
	}
}

@media screen and (max-width: 1440px) {
	.header h1 {
		top: 15%;
	}
	.header h2 {
		top: 45%;
	}
	.navigation {
		top: 60%;
	}
	
}

@media screen and (max-width: 1366px) {
	.header h1 {
		width: 70%;
	}
	.navigation {
		padding: 0 300px;
	}
	.about,.work,.education,.skills,.portfolio,.contact {
        padding: 4em 0;
    }
    .work-right.work-right2 {
        min-height: 200px;
    }
    .work-right {
        padding: 2.5em 0 1em 6em;
    }
    }
    @media(max-width:1080px){
    .header-left {
        padding: 0;
    }
    ul.address {
        margin-top: 1em;
    }
    ul.address li ul.address-text li {
        margin-top: 0.8em;
    }
    .about, .work, .education, .skills, .portfolio, .contact {
        padding: 4em 0;
    }
    h3.title {
        font-size: 3.6em;
        margin-bottom: 0.8em;
    }
    .about-right {
        padding-left: 1em;
    }
    .work-right {
        padding: 2.5em 0 0.5em 6em;
    }
    .resp-tabs-list {
        margin: 0 auto 1.5em;
    }
    .contact-form input[type="text"] {
        width: 48.8%;
    }
}

@media screen and (max-width: 1280px) {
	.header h1 {
		width: 75%;
	}
	.navigation {
		padding: 0 250px;
	}
	.agileabout-grid-3 ul li .li1 {
		width: 18%;
	}
	.agileabout-grid-3 ul li .li3 {
		width: 77%;
	}
	.wthreeskills-grid-1 h4 {
		width: 51%;
	}
	.wthreeskills-grid-2 h4 {
		width: 42%;
	}
}

@media screen and (max-width: 1080px) {
	.header h1 {
		top:25%
		width: 75%;
		font-size: 60px;
		padding: 50px 0;
	}
	.header h2 {
		top: 45%;
		width: 35%;
		padding: 15px 0;
		top: 60%;
		font-size: 20px;
	}
	.navigation {
		padding: 0 150px;
	}
	.m_nav_item a {
		font-weight: 600 !important;
	}
}

@media screen and (max-width: 1024px) {
	.navigation {
		padding: 0 140px;
	}
	.agileabout-grid-1 h3, .agileabout-grid-3 h3 {
		width: 43%;
	}
	.wthreeskills-grid-1 h4 {
		width: 65%;
	}
	.wthreeskills-grid-2 h4 {
		width: 53%;
	}
}

@media screen and (max-width: 991px) {
	.navigation {
		padding: 0 80px 0 60px;
	}
	.nav-grid {
		width: 16.6%;
		float: left;
	}
	.ch-info-front i.fa,i.fas {
		font-size: 50px;
		padding-top: 25px;
	}
	ul.address li ul.address-text li {
        font-size: 1.1em;
    }
    ul.nav.navbar li a {
        padding: 1em 1.5em;
    }
    h3.title {
        font-size: 3.5em;
        margin-bottom: 0.6em;
    }
	.work-left {
        padding: 2em 4em 0 0;
        float: left;
        width: 50%;
    }
    .work-right {
        padding: 2em 0 0.5em 5em;
        float: right;
        width: 50%;
    }
    .work-right h5 span.glyphicon {
        margin-right: 5em;
        margin-left: -7.3em;
    }
    .work-info h5 {
        font-size: 1.2em;
        padding: 0 1em;
    }
    .work-left2 h5 span.glyphicon {
        margin-left: 3.4em;
        margin-right: -6.4em;
    }
    .work-right.work-right2 {
        min-height: 220px;
    }
	.container {
		width: 100%;
	}
	.w3ls-banner-left {
		width: 35%;
	}
	.w3ls-banner-right {
		width: 65%;
	}
	.banner-right-img {
		float: none;
		width: 35%;
	}
	.banner-right-info {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3-button {
		margin: 1em 0 0 0;
	}
	.m_nav_item a {
		font-size: 1em !important;
	}
	.experience-grid {
		border-right: none;
	}
	.experience-grid2 {
		border-bottom: solid 1px #999999 !important;
	}
	
    .contact-left iframe {
        width: 100%;
        min-height: 20em;
        border: none;
    }
    .contact-right {
        margin-top: 2em;
    }
    .contact-form input[type="text"].email {
        margin: 2em 0 1em 0.5em;
    }
	
}

@media screen and (max-width: 900px) {
	.header h1 {
		width: 70%;
		font-size: 50px;
		padding: 40px 0;
	}
	.navigation {
		padding: 0 80px 0 40px;
	}
}

@media screen and (max-width: 853px) {
	.header h1 {
		width: 75%;
	}
	.navigation {
		padding: 0 50px 0 20px;
	}
}

@media screen and (max-width: 800px) {
	.header h1 {
		width: 80%;
	}
	.navigation {
		padding: 0 50px 0 5px;
	}
	.about, .work, .education, .skills, .portfolio, .contact {
        padding: 3em 0;
    }
    h3.title {
        font-size: 3.3em;
        margin-bottom: 0.6em;
    }
}

@media screen and (max-width: 768px) {
	.header h1 {
		width: 67%;
		top: 25%;
		font-size: 40px;
		padding: 30px 0;
	}
	.header h2 {
		top: 45%;
		width: 40%;
	}
	.navigation {
	top: 60%;
		padding: 0 40px 0 10px;
	}
	.ch-info-wrap, .ch-info {
		width: 80px;
		height: 80px;
	}
	.ch-info-front i.fa,i.fas {
		font-size: 40px;
		padding-top: 20px;
	}
	.ch-info-back h3 {
		font-size: 16px;
		margin-top: 33px;
	}
}



@media screen and (max-width: 736px) {
	.header h1 {
		width: 70%;
	}
}

@media screen and (max-width: 667px) {
	.header h1 {
		font-size: 35px;
	}
	.header h2 {
		width: 40%;
		padding: 12px 0;
		font-size: 17px;
	}
	.navigation {
		padding: 0 40px 0 0;
	}
}

@media screen and (max-width: 640px) {
	.header h1 {
		width: 74%;
	}
	.header h2 {
		top: 50%;
	}
	.ch-info-wrap, .ch-info {
		width: 75px;
		height: 75px;
	}
	.ch-info-back h3 {
		margin-top: 30px;
	}
	 .ch-info-back h3 {
		margin-left: -3px;
	}
	.about, .work, .education, .skills, .portfolio, .contact {
        padding: 2em 0;
    }
    h3.title {
        font-size: 2.8em;
        margin-bottom: 0.5em;
    }
	.work-right.work-right2 {
        min-height: 235px;
    }
	.contact-left iframe {
        min-height: 17em;
    }
    .contact-left {
        padding: 0;
    }
    .contact-right {
        margin-top: 1em;
        padding: 0;
    }
    .contact-form input[type="text"] {
        padding: .6em 1em;
    }
    .footer {
        padding: 1.5em 0;
    }
}

@media screen and (max-width: 603px) {
	.navigation {
		margin-left: -20px;
	}
	
}

@media screen and (max-width: 600px) {
	.header h1 {
		width: 77%;
	}
	.navigation {
		margin-left: 10px;
	}
	.ch-info-back h3 {
		margin-left: -3px;
	}
	.ch-info-back h3 {
		margin-left: -2.5px;
	}
	.ch-info-back h3 {
		margin-left: -3px;
		font-size: 13px;
	}
	.ch-info-wrap, .ch-info {
		width: 60px;
		height: 60px;
	}
	.ch-info-wrap {
		box-shadow: 0 0 0 5px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
	}
	.ch-info-front i.fa i.fas {
		font-size: 30px;
		padding-top: 15px;
	}
	.ch-info-back h3 {
		margin-top: 24px;
		font-size: 15px;
	}
}

@media screen and (max-width: 568px) {
	.header h1 {
		width: 80%;
	}
	.header h2 {
		width: 45%;
		padding: 10px 0;
		font-size: 15px;
	}
	.ch-info-back h3 {
		font-size: 14px;
	}
.experience-grid {
		padding: 2em 0;
	}
	}

@media screen and (max-width: 533px) {
	.header h1 {
		font-size: 30px;
		padding: 25px 0;
		width: 77%;
	}
	.ch-info-back h3 {
		font-size: 13px;
		margin-top: 24px;
	}
}

@media screen and (max-width: 480px) {
	.header h1 {
		padding: 20px 0;
		width: 85%;
	}
	.ch-info-wrap, .ch-info {
		width: 50px;
		height: 50px;
	}
	.experience{
	padding: 2em 0;
	}
	.ch-info-front i.fa,i.fas {
		padding-top: 10px;
	}
	.ch-info-back h3 {
		font-size: 12px;
		margin-top: 19px;
	}
	.banner-right-img {
		width: 45%;
	}
	.w3ls-banner-left {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3ls-banner-right {
		width: 100%;
		float: none;
	}
	.banner-right-img {
		width: 36%;
		margin: 0 auto;
	}
	.w3l-banner-grids {
		margin: 2em 0 0 0;
	}
	.work-info h4 {
        font-size: 1em;
    }
    .work-info h4:before {
        right: -10px;
        border-width: 7px 0 7px 10px;
    }
    .work-info h5 {
        font-size: 1em;
    }
    .work-left {
        padding: 1em 3em 0 0;
    }
    .work-right {
        padding: 1em 0 0.5em 3em;
    }
    .work-right h5 span.glyphicon {
        margin-right: 3em;
        margin-left: -6em;
    }
    .work-right.work-right2 h4:before {
        left: -10px;
    }
    .work-left2 h5 span.glyphicon {
        margin-left: 3em;
        margin-right: -6.2em;
    }
	.contact-form input[type="submit"] {
        font-size: 1em;
    }
    .footer p {
        font-size: 1em;
    }
}

@media screen and (max-width: 414px) {
	.header img {
		height: 250px;
	}
	.header h1 {
		padding: 10px 0;
		width: 70%;
		font-size: 20px;
		font-weight: 100;
		letter-spacing: 0;
		top: 25%;
		border: 2px solid #FFF;
	}
	.header h2 {
		width: 45%;
		padding: 10px 0;
		font-size: 14px;
		letter-spacing: 0;
		font-weight: 100;
		top: 45%;
	}
	.navigation {
		padding: 0;
		top: 60%;
		margin-left: 0;
	}
	.nav-grid {
		width: 11%;
		margin: 30px;
	}
	.w3-agile-experience-grids {
		margin: 0em 0 0 0;
	}
	 .work-right.work-right2 {
        min-height: 260px;
    }
	.experience-grid {
		padding: 1em 0;
	}
	.contact-form input[type="text"].email {
        margin: 1em 0 0 0;
    }
    .address-left {
        width: 45%;
    }
    .address-right {
        width: 42%;
    }
    .contact-form textarea {
        min-height: 8em;
    }
	
}


@media screen and (max-width: 360px) {
	.navigation {
		margin-left: -15px;
	}
	
}
@media(max-width:375px){

    .work-left {
        width: 100%;
        text-align: left;
        padding: 1em 0 0 0;
    }
    .work-right {
        padding: 1em 0 0.5em 2em;
        width: 95%;
        border: none;
    }
    .work-right h5 span.glyphicon {
        margin-right: 2em;
        margin-left: -5em;
    }
    .work-right.work-right2 {
        min-height: inherit;
        padding: 0;
    }
    
    .contact-left iframe {
        min-height: 13em;
    }

    .contact-form input[type="submit"] {
        font-size: 0.9em;
    }
    }
@media screen and (max-width: 320px) {
	.header img {
		height: 215px;
	}
	.header h1 {
		padding: 8px 0;
		font-size: 18px;
		top: 25%;
		border: 1px solid #FFF;
	}
	.header h2 {
		width: 60%;
		padding: 7px 0;
		font-size: 13px;
		font-weight: 700;
		top: 40%;
	}
	.navigation {
		margin-left: -30px;
		top: 60%;
	}
	.banner-right-img {
		width: 60%;
	}
	.about, .work, .education, .skills, .portfolio, .contact {
        padding: 1em 0;
    }
    h3.title {
        font-size: 2em;
    }
	.w3ls-banner-right {
		padding: 0;
	}
	.h5Style{
        padding-bottom:10px;
    }
    
    .desg{
        color:#ffcb0b;
    }
	
	
	.w3ls-banner-left {
		padding: 0;
	
}
.experience-grid-icon i.fa.fa-car,.experience-grid-icon i.fas.fa-chart-line,.experience-grid-icon i.fas.fa-chart-pie,.experience-grid-icon i.fa.fa-heartbeat {
		width: 80px;
		height: 80px;
		padding: .7em 0 0 0;
	}
}





/*-- //Responsive-Code --*/